<article class="page">
  <div class="page__container">
    <h1 class="page__title">Prêmio MapBiomas</h1>
    <p><%= image_tag "header-premio.png" %></p>
    <p>Para estimular e ampliar mais aplicações e trabalhos com análises de mudanças de uso da terra no território brasileiro, a iniciativa resolveu lançar o Prêmio MapBiomas, em parceria com o Instituto de Energia e Meio Ambiente (IEMA) e o Instituto Escolhas, com apoio do Instituto Clima e Sociedade (ICS).</p>
    <p>Nesta primeira premiação, o MapBiomas irá premiar trabalhos que explorem as relações entre a infraestrutura de energia e transporte e as mudanças de cobertura e uso da terra no Brasil:</p>
    <hr />
    <p><strong>Categoria Geral</strong></p>
    <ul>
      <li>1º lugar - valor de <strong>R$ 10.000</strong></li>
      <li>2º  lugar - valor de <strong>R$ 5.000</strong></li>
    </ul>
    <hr />
    <p><strong>Categoria Jovem</strong></p>
    <ul>
      <li>1º lugar - valor de <strong>R$ 5.000</strong></li>
      <li>2º lugar - valor de <strong>R$ 3.000</strong></li>
    </ul>
    <hr />
    <div class="text-center">

    <h2>As inscrições são gratuitas e devem ser realizadas até o dia 31 de janeiro de 2019.</h2>

    <p>Acesse aqui o edital do Prêmio com as instruções para a inscrição e informações sobre o processo seletivo.</p>

    <a href="https://storage.googleapis.com/mapbiomas/downloads/edital/edital-mapbiomas-infra-2018.pdf" target="_blank" class="btn btn-green">EDITAL</a>
    <a href="https://goo.gl/forms/TYcsbZR2pRDIa34j1" target="_blank" class="btn btn-green">FORMULÁRIO DE INSCRIÇÃO</a>
    <a href="https://storage.googleapis.com/mapbiomas/downloads/release/press_release_premio_mapbiomas.pdf" target="_blank" class="btn btn-green">PRESS RELEASE</a>
    <p>Dúvidas e esclarecimentos sobre o Prêmio MapBiomas deverão ser enviados única <br /> e exclusivamente para o endereço eletrônico <a href="mailto:premio@mapbiomas.org">premio@mapbiomas.org</a>.</p>
    <a href="https://www.youtube.com/watch?v=BTiFbdWd8lU" target="_blank" class="btn btn-green">TUTORIAL DADOS MAPBIOMAS INFRAESTRUTURA</a>

    </div>

    <div style="background-color: white; padding: 20px; margin-top: 40px; text-align: center; border-radius: 20px;">
      <h2>Realização</h2>
      <%= image_tag "premio-realizacao.png" %><br />
      <h2>Apoio</h2>
      <%= image_tag "header-apoio.png" %>
    </div>

  </div>
</article>
