<article class="page">
  <div class="page__container">
    <h1 class="page__title">Notícias</h1>


  <h2>Primeira coleção de mapas anuais de cobertura e uso do solo da Pan-Amazônia (2000 - 2017) é lançada.</h2>
  p><b>21/03/2019</b></p>

  <p>Uma nova ferramenta de mapeamento, que permite monitorar mudanças de uso do solo em toda a Amazônia e acompanhar as pressões sobre suas florestas, será disponibilizada ao público pelo MapBiomas Amazonia nesta quinta-feira, 21 de março, em Lima. Esta ferramenta resulta do intenso trabalho e da colaboração entre os membros da Rede Amazônica de Informação Socioambiental Georreferenciada (RAISG), que busca contribuir para o conhecimento e análises da região amazônica de forma integral, e a iniciativa brasileira MapBiomas, orientada ao desenvolvimento e uso de ferramentas de mapeamento das transformações do território.</p>

  <p>O produto inaugural do MapBiomas Amazônia é a Primeira Coleção de Mapas Anuais de Cobertura e Uso do Solo da Pan Amazônia (2000 - 2017), que compreende mapas anuais de toda a região, elaborada pelas equipes técnicas de cada país.</p>

  <p>O mapeamento inédito incorpora toda a bacia e floresta amazônica, desde os Andes passando pela planície amazônica chegando até as transições com Cerrado e Pantanal. Os resultados obtidos indicam que no período de 2000 a 2017, apesar de ainda manter 85% de cobertura de floresta e vegetação nativa, a região perdeu 29,5 milhões de hectares (equivalente a área territorial do Equador). Por outro lado, neste mesmo período houve um acréscimo de 41% da área de agropecuária.</p>

  <p>Beto Ricardo, coordenador da RAISG, ressaltou a importância do trabalho realizado pela consórcio RAISG - MapBiomas: "Duas redes da sociedade civil dos países amazônicos unem esforços para mapear de maneira inédita as mudanças no uso do solo que ocorreram entre 2000 e 2017 neste território de mais de 7 milhões de km2 ". De acordo com Ricardo, este é um passo importante para o objetivo de "construir e promover uma visão integral da Amazônia, considerando aspectos políticos de uma região compartilhada entre nove países, bem como aspectos socioambientais de grande significado: a presença de cerca de 400 povos indígenas, bacias hidrográficas compartilhadas, conectividade entre unidades de conservação, e processos de alteração de uso do solo -desmatamento-, entre outras pressões e ameaças que pairam sobre a maior floresta tropical do planeta".</p>

  <p>Para Tasso Azevedo, Coordenador Geral do MapBiomas, o lançamento da Coleção 1 do MapBiomas Amazonia é um passo importante para garantir o mapeamento de toda a América do Sul com um grau de detalhe espacial e temporal sem precedentes para outros continentes. “Com o lançamento da Coleção 3 do MapBiomas Brasil, a Coleção 1 do MapBiomas Amazonia e a primeira coleção de MapBiomas Chaco, que será apresentada nos próximos meses, vamos cobrir quase 90% do território da América do Sul. Esta base de dados é inestimável para a compreensão da dinâmica de uso dos recursos naturais na região além de contribuir para a modelagem climática e o cálculo de emissões e remoções de gases de efeito estufa por mudança e uso solo na região”.</p>

  <p>As informações contidas na ferramenta de mapeamento são compatíveis e padronizadas para todos os países da região e revela o estado da cobertura da vegetação, bem como as tendências em uma unidade territorial que deseja trabalhar. Também identifica mudanças no uso do solo em um determinado período (ano, cinco anos, etc.) entre 2000 e 2017. Por exemplo, você pode identificar as áreas onde houve mudanças significativas, como a substituição floresta para agricultura ou pastagem.</p>

  <p>É uma novidade ter esta informação para a região Pan-Amazônica com uma resolução espacial de 30 metros, com o detalhe e precisão de análise que permite a ferramenta desenvolvida pela MapBiomas Amazonia. Da mesma forma, alguns dos países amazônicos têm esse tipo de informação e análise pela primeira vez.</p>

  <p>Todo o processamento de dados é feito usando algoritmos de classificação automática através da computação em nuvem na plataforma do Google Earth Engine.</p>

  <p>A plataforma de acesso público é interativa e permite obter figuras e gráficos. De natureza flexível, o público em geral pode visualizar mapas da região amazônica, países, áreas protegidas e territórios indígenas. Para cada país, é possível visualizar as informações em diferentes unidades territoriais: estado, municípios, bem como para áreas protegidas e territórios indígenas.</p>

  <p>Para a elaboração dos mapas, o trabalho é feito em rede pela RAISG, aproveitando a expertise das organizações membros em seus respectivos países. Desta forma, o conhecimento existente a nível local permitiu melhorar a ferramenta e refinar a interpretação dos dados. A informação de cada um dos países é compatível com a do resto dos países, permitindo uma visão abrangente da região amazônica. Da mesma forma, o método utilizado permitiu padronizar os biomas incluídos na análise: os nove países amazônicos compartilham o bioma Amazônico, enquanto Peru, Equador e Bolívia compartilham o bioma dos Andes.</p>

  <p>Inicialmente, a ferramenta de mapeamento do uso do solo foi desenvolvido pelo MapBiomas para ser aplicado no Brasil, e deverá ser melhorada com a entrada de organizações membros da RAISG para ajustar os resultados e análises da geografia de cada país amazonense. Em particular, foi necessário levar em conta as variações altitudinais típicas da Amazônia andina. Atualmente, a ferramenta de mapeamento inclui 13 classes, seis biomas - Amazônia, Cerrado, Pantanal, Andes, Chaco-Chiquitano e Tucumano Boliviano, variando de geleiras andinas para as formações florestais tropicais da planície amazônica. Aperfeiçoar a ferramenta exigiu um trabalho intenso, que se concretizou em apenas um ano e meio depois de estabelecer o consórcio RAISG - MapBiomas.</p>

  <h2>SOBRE RAISG</h2>

  <p>A RAISG é a Rede Amazônica de Informação Socioambiental Georreferenciada, um consórcio de organizações da sociedade civil dos países amazônicos voltada para a sustentabilidade socioambiental da Amazônia, com o apoio da cooperação internacional. A RAISG gera e dissemina conhecimento, dados estatísticos e informações socioambientais geoespaciais da Amazônia, elaborados com protocolos comuns para todos os países da região. Os produtos da RAISG permitem visualizar a Amazônia como um todo, bem como as ameaças e pressões que pairam sobre ela. <a href="https://www.amazoniasocioambiental.org/es/">Veja mais</a></p>

  <h2>SOBRE MAPBIOMAS</h2>
  <p>O MapBiomas é uma iniciativa multi-institucional que reúne universidades, ONGs e empresas de tecnologia que se uniram para contribuir para o entendimento das transformações do território brasileiro a partir do mapeamento anual da cobertura e uso da terra de todo o país. Em agosto de 2018, a Coleção 3 do MapBiomas foi publicada com mapas de cobertura e uso da terra no Brasil de 1985 a 2017.
<a href="http://mapbiomas.org/">Veja mais</a></p>

  <p>Para conhecer os parceiros que compõem o MapBiomas Amazonia, veja a seção <a href="http://amazonia.mapbiomas.org">Quem Somos</a>.</p>

  <p>Para mais informações, entre em contato: PERU: María Rosa Montes: mrmontes@ibcperu.org Celular. +51 992780172</p>

<br><br>

    <h2>MapBiomas premia estudos sobre infraestrutura e uso do solo</h2>
    <p style="opacity: 0.6;">Iniciativa conjunta do MapBiomas com o IEMA e o Instituto Escolhas visa reconhecer pesquisadores de todas as idades e níveis educacionais que geram conhecimento sobre as transformações do uso da terra no Brasil</p>

    <p><b>07/11/2018</b></p>

    <p>Qual é o impacto das obras de infraestrutura? Como projetos de produção de energia afetam a cobertura florestal no Brasil? Qual a relação entre o desmatamento e a construção de estradas ou ferrovias? Uma iniciativa conjunta da rede de instituições do MapBiomas, do Instituto Energia e Meio Ambiente e do Instituto Escolhas com apoio do Instituto Clima e Sociedade irá premiar os melhores trabalhos para responder questões como essas.</p>

    <p>O objetivo do Prêmio MapBiomas é eleger os melhores estudos sobre a relação entre obras de infraestrutura de energia ou transportes e alterações no uso do solo. Podem concorrer ao Prêmio MapBiomas trabalhos individuais ou em co-autoria, estudantes de escolas, nível técnico, graduação, pós-graduação, profissionais, etc. Serão aceitos estudos, artigos, monografias dissertações ou teses. </p>

    <p>O prêmio tem duas categorias. A Categoria Jovem é para trabalho cujo autor principal tenha até 30 anos e ainda não completou a graduação ou se graduou ao longo de 2018. Na Categoria Geral podem concorrer trabalhos independentemente da idade e nível de escolaridade do autor principal. </p>

    <p>Serão premiados quatro trabalhos, com valores de R$ 3.000 a R$ 10.000. As inscrições estão abertas até o dia 31 de janeiro de 2019. </p>

    <p>"Os trabalhos podem ser centrados em um projeto ou numa obra específica”, afirma Tasso Azevedo, coordenador geral do MapBiomas. “Pode ser uma análise de um determinado modal. Ou um corte territorial. Até mesmo uma pesquisa de cenários. É possível concorrer com  trabalhos inéditos ou que tenham sido publicados a partir de 2017."</p>

    <p>Os trabalhos precisam usar as séries históricas de uso e cobertura da terra no Brasil, com dados ou citação do projeto MapBiomas. O MapBiomas (Projeto de Mapeamento Anual da Cobertura e Uso do Solo do Brasil) é uma iniciativa conjunto de dezenas de universidades, ONGs e empresas de tecnologia. Juntas, elas geram a maior base de dados do país sobre uso da terra e alterações nos biomas. Na plataforma do MapBiomas é possível analisar os dados de cobertura e uso da terra por diversos recortes territoriais como estados, biomas, municípios, bacias hidrográficas e áreas protegidas. </p>

    <p>Recentemente foram inseridas informações de infraestrutura de transporte e energia para observar as mudanças de uso do solo no entorno (5, 10 e 20 Km) de estradas, ferrovias, portos, aeroportos, usinas, linhas de transmissão, etc. </p>

    <p>“A iniciativa contribui para estimular estudantes e jovens profissionais a se dedicar a uma questão ainda não adequadamente compreendida - os impactos, ao longo do tempo, no uso do solo e na cobertura vegetal, decorrentes de grandes de obras de infraestrutura de energia e transporte”, diz André Ferreira, diretor presidente do IEMA.</p>

    <p>"O Prêmio MapBiomas quer encontrar e dar visibilidade a estudos e pesquisadores de todas as idades e níveis educacionais que estão produzindo conhecimento sobre as transformações no território brasileiro", diz Jaqueline Ferreira, coordenadora Instituto Escolhas.</p>

    <p>Para Tasso Azevedo, o prêmio enriquece do conhecimento para o desenvolvimento sustentável no país. "O prêmio visa estimular a reflexão e a análise sobre a relação entre a infraestrutura de energia e transporte com a dinâmica de mudança de cobertura e uso do solo no território brasileiro", diz. “Esperamos que esses estudos e conhecimentos possam contribuir para a aplicabilidade em políticas públicas e planejamento do território brasileiro.”</p>

    <p>Mais informações sobre o Prêmio MapBiomas estão disponíveis no site do MapBiomas ( <strong><a href="http://www.mapbiomas.org/premio" target="_blank">www.mapbiomas.org/premio</a></strong> ).</p>

    <p>Dúvidas e esclarecimentos pelo e-mail - <strong><a href="mailto:premio@mapbiomas.org">premio@mapbiomas.org</a></strong></p>

    <hr />

    <h2>MapBiomas disponibiliza coleção atualizada de Mapas Anuais de Cobertura e Uso da Terra do Brasil de 2000-2016</h2>
    <p><b>09/01/2018</b></p>

    <p>O <strong><a href="http://mapbiomas.org" target="_blank">Projeto MapBiomas</a></strong> disponibilizou hoje uma revisão dos mapas anuais de cobertura e uso do terra no Brasil para o período 2000-2016. A Coleção 2.3 atualiza os dados da Coleção 2 lançada em abril de 2017. Os principais aspectos desta revisão incluem:</p>

    <ol class="numeric_list">
      <li><b>Simplificação da Legenda</b> - algumas classes de legenda, especialmente no terceiro nível de detalhamento, que apresentavam similaridades espectral com outras classes ou estavam identificadas apenas em alguns biomas foram agregadas. Também foram adequados os termos para classes de vegetação nativa para melhor compreensão e entendimento. As mudanças visam tornar mais prática e direta a compreensão dos mapas.</li>

      <li><b>Análise da Acurácia</b> - foi realizada uma análise completa de acurácia dos mapas de cobertura e uso do solo, abrangendo todos os anos e classe da legenda dos seus diferentes níveis. A acurácia geral da coleção 2.3 foi de 79,3% no nível 1 da legenda, com erro de alocação 9,5% e erro de área 11,2%. Na plataforma on line é possível agora consultar a acurácia por classe, ano, bioma e nível da legenda.</li>

      <li><b>Consistência da série temporal</b> - as variações das classes de cobertura e uso ganharam mais consistência espacial ao longo da série temporal reduzindo os ruídos especialmente dos dados de transição de classes entre os anos, em função da adoção de árvores de decisão automáticas baseadas no algoritmo Random Forest.</li>

      <li><b>Simplificação do acesso aos mapas e dados para análise</b> - várias melhorias foram implementadas no módulo de visualização e acesso aos dados que incluem: (i) visualização comparativa de classificação e mosaico de imagens de dois anos em todo o território; (ii) disponibilização de mapas de cobertura de todos os anos em um único arquivo para download por bioma; e (iii) dados estatísticos de cobertura e transições consolidados por município, estado e biomas, disponíveis para download em planilha Excel.</li>
    </ol>

    <p>Estas melhorias são consequência de avanços obtidos nos algoritmos de processamento com destaque para (i) inclusão de uma nova abordagem para a classificação automática que utilizou os resultados da Coleção 2 para treinar o algoritmo de classificação Random Forest; e (ii) inclusão de novas etapas de filtro temporal e espacial após o processo de integração dos mapas temáticos. Estes avanços estão descritos nos ATBDs (documentos base do algoritmo) também disponíveis na plataforma.</p>
    <p>Grande parte das melhorias desta coleção foram inspiradas nas demandas, críticas e sugestões oriundas das reuniões do Comitê Científico do MapBiomas, dos workshops temáticos promovidos pelo projeto e, principalmente, das contribuições de dezenas de usuários da plataforma que tem utilizado os dados para inúmeras aplicações.</p>
    <p>Para fortalecer este vínculo com os usuários <b>agora é possível criar um perfil de acesso</b> na plataforma do MapBiomas. A partir desta perfil será possível elaborar  e salvar mapas com os territórios de seu interesse e gerar um URL para incluir estes mapas em suas próprias páginas na internet. Este perfil de acesso também permitirá aos usuários se manterem atualizados sobre as novidades do MapBiomas.</p>
    <p>A equipe do MapBiomas trabalha agora na preparação da Coleção 3 prevista para ser lançada ainda em 2018 com mapas anuais de cobertura e uso do solo cobrindo o período de 1985 a 2017.</p><br>

    <p><strong>Sobre o MapBiomas</strong></p>

    <p>O Projeto de Mapeamento Anual da Cobertura e Uso do Solo do Brasil é uma iniciativa de uma rede colaborativa muti-institucional de universidades, empresas e ONGs com especialistas nos biomas, usos da terra, sensoriamento remoto e ciência da computação que utiliza processamento em nuvem e classificadores automatizados desenvolvidos e operados a partir da plataforma Google Earth Engine para gerar uma série histórica de mapas anuais de cobertura e uso da terra do Brasil.</p>

    <p>Todos os mapas e dados bem como os algoritmos e ferramentas desenvolvidos pelo projeto MapBiomas podem ser acessados gratuitamente na plataforma on line.</p>

    <p>Este projeto não seria possível sem o generoso suporte Google e sua plataforma Earth Engine; bem como apoio do Programa Internacional de Florestas e Clima da Noruega,  da Fundação Moore, da Good Energies Foundation, da CLUA e do Instituto Arapyaú.</p>

    <p>Para conhecer mais sobre projeto acesse: <strong><a href="http://mapbiomas.org" target="_blank">http://mapbiomas.org</a></strong>.</p>
  </div>
</article>
