<article class="page">
  <div class="page__container">
    <h1 class="page__title">News</h1>

    <h2>MapBiomas premia estudos sobre infraestrutura e uso do solo</h2>
    <p style="opacity: 0.6;">Iniciativa conjunta do MapBiomas com o IEMA e o Instituto Escolhas visa reconhecer pesquisadores de todas as idades e níveis educacionais que geram conhecimento sobre as transformações do uso da terra no Brasil</p>

    <p><b>07/11/2017</b></p>

    <p>Qual é o impacto das obras de infraestrutura? Como projetos de produção de energia afetam a cobertura florestal no Brasil? Qual a relação entre o desmatamento e a construção de estradas ou ferrovias? Uma iniciativa conjunta da rede de instituições do MapBiomas, do Instituto Energia e Meio Ambiente e do Instituto Escolhas com apoio do Instituto Clima e Sociedade irá premiar os melhores trabalhos para responder questões como essas.</p>

    <p>O objetivo do Prêmio MapBiomas é eleger os melhores estudos sobre a relação entre obras de infraestrutura de energia ou transportes e alterações no uso do solo. Podem concorrer ao Prêmio MapBiomas trabalhos individuais ou em co-autoria, estudantes de escolas, nível técnico, graduação, pós-graduação, profissionais, etc. Serão aceitos estudos, artigos, monografias dissertações ou teses. </p>

    <p>O prêmio tem duas categorias. A Categoria Jovem é para trabalho cujo autor principal tenha até 30 anos e ainda não completou a graduação ou se graduou ao longo de 2018. Na Categoria Geral podem concorrer trabalhos independentemente da idade e nível de escolaridade do autor principal. </p>

    <p>Serão premiados quatro trabalhos, com valores de R$ 3.000 a R$ 10.000. As inscrições estão abertas até o dia 31 de janeiro de 2019. </p>

    <p>"Os trabalhos podem ser centrados em um projeto ou numa obra específica”, afirma Tasso Azevedo, coordenador geral do MapBiomas. “Pode ser uma análise de um determinado modal. Ou um corte territorial. Até mesmo uma pesquisa de cenários. É possível concorrer com  trabalhos inéditos ou que tenham sido publicados a partir de 2017."</p>

    <p>Os trabalhos precisam usar as séries históricas de uso e cobertura da terra no Brasil, com dados ou citação do projeto MapBiomas. O MapBiomas (Projeto de Mapeamento Anual da Cobertura e Uso do Solo do Brasil) é uma iniciativa conjunto de dezenas de universidades, ONGs e empresas de tecnologia. Juntas, elas geram a maior base de dados do país sobre uso da terra e alterações nos biomas. Na plataforma do MapBiomas é possível analisar os dados de cobertura e uso da terra por diversos recortes territoriais como estados, biomas, municípios, bacias hidrográficas e áreas protegidas. </p>

    <p>Recentemente foram inseridas informações de infraestrutura de transporte e energia para observar as mudanças de uso do solo no entorno (5, 10 e 20 Km) de estradas, ferrovias, portos, aeroportos, usinas, linhas de transmissão, etc. </p>

    <p>“A iniciativa contribui para estimular estudantes e jovens profissionais a se dedicar a uma questão ainda não adequadamente compreendida - os impactos, ao longo do tempo, no uso do solo e na cobertura vegetal, decorrentes de grandes de obras de infraestrutura de energia e transporte”, diz André Ferreira, diretor presidente do IEMA.</p>

    <p>"O Prêmio MapBiomas quer encontrar e dar visibilidade a estudos e pesquisadores de todas as idades e níveis educacionais que estão produzindo conhecimento sobre as transformações no território brasileiro", diz Jaqueline Ferreira, coordenadora Instituto Escolhas.</p>

    <p>Para Tasso Azevedo, o prêmio enriquece do conhecimento para o desenvolvimento sustentável no país. "O prêmio visa estimular a reflexão e a análise sobre a relação entre a infraestrutura de energia e transporte com a dinâmica de mudança de cobertura e uso do solo no território brasileiro", diz. “Esperamos que esses estudos e conhecimentos possam contribuir para a aplicabilidade em políticas públicas e planejamento do território brasileiro.”</p>

    <p>Mais informações sobre o Prêmio MapBiomas estão disponíveis no site do MapBiomas ( <strong><a href="http://www.mapbiomas.org/premio" target="_blank">www.mapbiomas.org/premio</a></strong> ).</p>

    <p>Dúvidas e esclarecimentos pelo e-mail - <strong><a href="mailto:premio@mapbiomas.org">premio@mapbiomas.org</a></strong></p>

    <hr />

    <h2>MapBiomas release an updated collection of Maps Annual Coverage and Land Use Brazil's 2000-2016</h2>
    <p><b>01.09.2018</b></p>

    <p>The <a href="http://mapbiomas.org" target="_blank">MapBiomas Project</a> today released a review of annual coverage maps and land use in Brazil for the period 2000-2016. Collection 2.3 updates the data Collection 2 launched in April 2017. The main aspects of this review include:</p>

    <ol class="numeric_list">
      <li><b>Simplification of Legend</b> - some land cover/use classes, especially in the third level of detail, which had spectral similarities to other classes or were identified only in some biomes were merged. Also the names for native vegetation classes were revised to better comprehension and understanding. The changes aim to make more practical and direct the understanding of maps.</li>

      <li><b>Accuracy Analysis</b> - A complete analysis of accuracy of coverage maps and land use was carried out covering every year and class of Legend. The overall accuracy of collection was 79.3% with 9.5% due to allocation and 11.2% error in area. In the online platform it is now possible to check the accuracy by class, year and biome.</li>

      <li><b>Consistency of time series</b> - the variations of the land cover and land use classes gained better spatial consistency throughout the anual series, this reduced the noise especially on land use /cover change data between years.</li>

      <li><b>Simplifying access to maps and data for analysis</b> - several improvements were implemented in the visualization module and access to data including: (i) comparative viewing of classification maps or landsat images mosaics of two years throughout the territory; (ii) providing in download section the coverage maps of every year in a single file for each biome; and (iii) statistical data coverage and transitions consolidated by county, state and biomes, available in downloadable spreadsheet.</li>
    </ol>

    <p>These improvements are result of progress made in the processing algorithms especially (i) adding a new approach to automatic classification using the results of previous Collections train the classification algorithm Randon Forest; and (ii) inclusion of new temporal and spatial filter stages after the process of integration of thematic maps. Those improvements are described on at the ATBD - Algorithm Theoretical Base Documents also available in the platform.</p>

    <p>Much of the improvement of this collection were inspired by demands, criticisms and suggestions arising from the meetings of the MapBioma's Scientific Committee, the workshops promoted by the project, and especially the numerous contributions of users of the platform that have being digging the data for numerous applications.</p>

    <p>To strengthen this connection with users <b>now it's possible to create an profile</b> in MapBiomas platform. Using this profile any user can prepare and save maps with the territories of interest and generate a URL to include these maps in their own websites. This profile also allow users to keep up to date on what's new in MapBiomas.</p>

    <p>The MapBiomas team is now working on preparing the collection 3 expected to be launched in second half 2018 with annual land cover & land use maps covering the period from 1985 to 2017.</p><br>

    <h2 class="page__subtitle">About MapBiomas</h2>

    <p>The Annual Mapping Project of Land Cover and Use of Brazil is an initiative of a muti-institutional collaborative network of universities, companies and NGOs with specialists in biomes, land use, remote sensing and computer science that uses cloud processing and automated classifiers operated in the Google earth Engine platform to generate a time series of annual land cover and land use maps of Brazil.</p>

    <p>All the maps and data as well as the algorithms and tools developed by the project MapBiomas can be freely accessed at mapbiomas.org.</p>

    <p>This project would not be possible without the generous support from Google and it's Earth Engine Platform, the International Forest Program and Climate Norway, Moore Foundation, the Good Energies Foundation, Climate and Land Use Alliance and Instituto Arapyaú.</p>

    <p>To learn more about access project: <a href="http://mapbiomas.org" target="_blank">http://mapbiomas.org</a>.</p>
  </div>
</article>
