<article class="page">
  <div class="page__container">
    <h1 class="page__title">infográficos</h1>

    <p class="text-center">Acesse os infográficos da Coleção 3 do MapBiomas.</p>
    <div class="container text-center container__image--margin">
      <div class="container__image">
        <a href="/infograficos-2018/brasil.jpg" target="_blank"><img src="/infograficos-2018/brasil.jpg"></a>
      </div>
      <div class="container__image-list">
        <div class="container__image-item">
          <a href="/infograficos-2018/amazonia.jpg" target="_blank"><img src="/infograficos-2018/amazonia.jpg"></a>
        </div>
        <div class="container__image-item">
          <a href="/infograficos-2018/caatinga.jpg" target="_blank"><img src="/infograficos-2018/caatinga.jpg"></a>
        </div>
        <div class="container__image-item">
          <a href="/infograficos-2018/cerrado-a.jpg" target="_blank"><img src="/infograficos-2018/cerrado-a.jpg"></a>
        </div>
        <div class="container__image-item">
          <a href="/infograficos-2018/mata-atlantica.jpg" target="_blank"><img src="/infograficos-2018/mata-atlantica.jpg"></a>
        </div>
        <div class="container__image-item">
          <a href="/infograficos-2018/pampa.jpg" target="_blank"><img src="/infograficos-2018/pampa.jpg"></a>
        </div>
        <div class="container__image-item">
          <a href="/infograficos-2018/pantanal.jpg" target="_blank"><img src="/infograficos-2018/pantanal.jpg"></a>
        </div>
      </div>
    </div>

  </div>
</article>
