<article class="page">
  <div class="page__container">
    <h1 class="page__title">Infrastructure data</h1>

    <p>Here you will find the list of all layers of energy and transport infrastructure data available on the <strong>MapBiomas</strong> platform.</p>
    <p>They were compiled from information obtained in several organs including IBGE, ANTT, EPE, ONS, MME, ANAC among others. They were complemented with information from interviews, search in bibliography and internet.</p>
    <p>For part of the data layers, where relevant, files containing the buffer polygons in the infrastructure environment (eg federal roads, hydroelectric) are also available.</p>
    <p>All data represents the best database we could compile by July 2018.</p>

    <p><br /></p>

    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tbody>
        <tr>
          <th width="20%">Sector</th>
          <th>Theme</th>
          <th>Buffer</th>
          <th width="20%">Link</th>
        </tr>
        <tr>
        <th colspan="1" rowspan="21" class="text-center">

        <div>Transportation</div>

        </th>
          <td>Airport</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center" rowspan="10"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/transporte/aeroviario.zip">Download</a></td>
        </tr>
        <tr>
          <td>Aerodromes</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Waterway</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Lock</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Freight Transhipment Station</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Waterway</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Port Tourism Facility</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Port Installation under Record</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Port</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Private Use Terminal</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Ductwork</td>
          <td class="text-center">yes</td>
          <td class="text-center" rowspan="7"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/transporte/dutoviario.zip">Download</a></td>
        </tr>
        <tr>
          <td>Aquaduct</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Pipeline</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Mineroduto</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Pipeline</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Poliduto</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Not identified</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Railway</td>
          <td class="text-center">yes</td>
          <td class="text-center"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/transporte/ferroviario.zip">Download</a></td>
        </tr>
        <tr>
          <td>Road</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center" rowspan="3"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/transporte/rodoviario.zip">Download</a></td>
        </tr>
        <tr>
          <td>State highway</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Federal Highway</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
        <th colspan="1" rowspan="31" class="text-center">

        <div>Energy</div>

        </th>
          <td>Food & Beverage Outlets</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Fossil fuels</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center" rowspan="8"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/energia/combustiveis/fosseis.zip">Download</a></td>
        </tr>
        <tr>
          <td>Chemicals</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Oil Refineries and Other Processing Facilities</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Oil and Derivatives Storage and Distribution Terminal</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Gas</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Compression Station</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Gas Delivery Point</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Natural Gas Processing Unit</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Food & Beverage Outlets</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center" rowspan="7"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/energia/combustiveis/renovaveis.zip">Download</a></td>
        </tr>
        <tr>
          <td>Biodiesel Plant</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Biogas plant</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Ethanol Plant</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Bases of Distribution</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Liquefied Petroleum Gas Base</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Liquid Fuel Base</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Electrical industry</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center" rowspan="14"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/energia/setor_eletrico.zip">Download</a></td>
        </tr>
        <tr>
          <td>Infrastructure</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Substation</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Transmission line</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Generation</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Renewable Generation</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Wind farm</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Photovoltaic Solar Power Plant</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Biomass Thermoelectric Power Plant</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Hydroelectric Plant</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Small Hydropower Plant</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Non-Renewable Generation</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Fossil Fuel Thermal Power Plant</td>
          <td class="text-center">yes</td>
        </tr>
        <tr>
          <td>Thermonuclear Power Plant</td>
          <td class="text-center">yes</td>
        </tr>
      </tbody>
    </table>

  </div>
</article>