<article class="page">
  <div class="page__container">
    <h1 class="page__title">Dados de Infraestrutura</h1>

    <p>Aqui você encontra a relação de todas as camadas de dados de infraestrutura de energia e transportes disponíveis na plataforma do <strong>MapBiomas</strong>.</p>
    <p>Elas foram compiladas a partir de informações obtidas em diversos órgãos incluindo IBGE, ANTT, EPE, ONS, MME, ANAC entre outros. Foram complementados com informações de entrevistas, busca em bibliografia e internet.</p>
    <p>Para parte das camadas de dados, onde pertinente, está disponível também arquivos contendo os polígonos de buffer no entorno de infraestrutura (ex. estradas federais, hidroelétrica).</p>
    <p>Todos os dados representam o melhor da base de dados que pudemos compilar até julho de 2018.</p>

    <p><br /></p>

    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tbody>
        <tr>
          <th width="20%">&nbsp;</th>
          <th>Tema</th>
          <th>Buffer</th>
          <th width="20%">Link</th>
        </tr>
        <tr>
        <th colspan="1" rowspan="21" class="text-center">

        <div>Transportes</div>

        </th>
          <td>Aerovi&aacute;rio</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center" rowspan="10"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/transporte/aeroviario.zip">Download</a></td>
        </tr>
        <tr>
          <td>Aer&oacute;dromos</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Aquavi&aacute;rio</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Eclusa</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Esta&ccedil;&atilde;o de Transbordo de Cargas</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Hidrovia</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Instala&ccedil;&atilde;o Portu&aacute;ria de Turismo</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Instala&ccedil;&atilde;o Portu&aacute;ria sob Registro</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Porto</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Terminal de Uso Privado</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Dutovi&aacute;rio</td>
          <td class="text-center">sim</td>
          <td class="text-center" rowspan="7"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/transporte/dutoviario.zip">Download</a></td>
        </tr>
        <tr>
          <td>Aquaduto</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Gasoduto</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Mineroduto</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Oleoduto</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Poliduto</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>N&atilde;o Identificado</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Ferrovi&aacute;rio</td>
          <td class="text-center">sim</td>
          <td class="text-center"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/transporte/ferroviario.zip">Download</a></td>
        </tr>
        <tr>
          <td>Rodovi&aacute;rio</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center" rowspan="3"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/transporte/rodoviario.zip">Download</a></td>
        </tr>
        <tr>
          <td>Rodovia Estadual</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Rodovia Federal</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
        <th colspan="1" rowspan="31" class="text-center">

        <div>Energia</div>

        </th>
          <td>Combust&iacute;veis</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Combust&iacute;veis F&oacute;sseis</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center" rowspan="8"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/energia/combustiveis/fosseis.zip">Download</a></td>
        </tr>
        <tr>
          <td>Combust&iacute;veis L&iacute;quidos</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Refinarias de Petr&oacute;leo e Outras Instala&ccedil;&otilde;es de Processamento</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Terminal de Armazenamento e Distribui&ccedil;&atilde;o de Petr&oacute;leo e Derivados</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>G&aacute;s</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Esta&ccedil;&atilde;o de Compress&atilde;o</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Ponto de Entrega de G&aacute;s</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Unidade de Processamento de G&aacute;s Natural</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Combust&iacute;veis Renov&aacute;veis</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center" rowspan="7"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/energia/combustiveis/renovaveis.zip">Download</a></td>
        </tr>
        <tr>
          <td>Usina de Biodiesel</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Usina de Biog&aacute;s</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Usina de Etanol</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Bases de Distribui&ccedil;&atilde;o</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Base de G&aacute;s Liquefeito de Petr&oacute;leo</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Base de Combust&iacute;veis L&iacute;quidos</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Setor El&eacute;trico</td>
          <td class="text-center">&nbsp;</td>
          <td class="text-center" rowspan="14"><a href="https://storage.googleapis.com/mapbiomas/downloads/infraestrutura/energia/setor_eletrico.zip">Download</a></td>
        </tr>
        <tr>
          <td>Infraestrutura</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Subesta&ccedil;&atilde;o</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Linha de Transmiss&atilde;o</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Gera&ccedil;&atilde;o</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Gera&ccedil;&atilde;o Renov&aacute;vel</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Usina E&oacute;lica</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Usina Solar Fotovoltaica</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Usina Termel&eacute;trica a Biomassa</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Usina Hidrel&eacute;trica</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Pequena Central Hidrel&eacute;trica</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Gera&ccedil;&atilde;o N&atilde;o-Renov&aacute;vel</td>
          <td class="text-center">&nbsp;</td>
        </tr>
        <tr>
          <td>Usina Termel&eacute;trica a Combust&iacute;vel F&oacute;ssil</td>
          <td class="text-center">sim</td>
        </tr>
        <tr>
          <td>Usina Termonuclear</td>
          <td class="text-center">sim</td>
        </tr>
      </tbody>
    </table>

  </div>
</article>
