<article class="page">
  <div class="page__container">
    <h1 class="page__title">Seminários Anuais</h1>
    <p>O MapBiomas desenvolve produtos em constante evolução. A cada ano foi lançada uma nova coleção de mapas de cobertura e uso da terra, aprimorada e com extensão do período abarcado. Os lançamentos aconteceram no 1º Seminário Técnico e 1º, 2º e 3º Seminários Anuais do MapBiomas. Os eventos contaram também com discussões com a participação de convidados externos sobre as coleções e perspectivas de monitoramento do uso da terra e suas aplicações no Brasil.</p>

    <hr />

    <h2 class="page__subtitle">3º Seminário Anual do MapBiomas - Lançamento Coleção 3</h2>
    <p>A Coleção 3 foi lançada no dia 17 de agosto de 2018 no 3º Seminário Anual do MapBiomas: Três décadas de transformações do território brasileiro, em Brasília. Com a terceira coleção de mapas de cobertura e uso da terra, o MapBiomas dobrou a extensão do período, cobrindo todos os anos de 1985 a 2017. Membros da iniciativa e especialistas convidados apresentaram novos dados e discutir suas aplicações para políticas públicas.</p>

    <iframe width="100%" height="350" src="https://www.youtube.com/embed/jeyRyAXe1FQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <a class="btn btn-green" href="https://drive.google.com/file/d/19C6sIU5hbonLGi64G38LgAT0eH46XVux/view" target="_blank">Programação do 3º Seminário </a>

    <a class="btn btn-green" href="https://drive.google.com/file/d/1G2z6JhPtYwSzwtfgWbWA6WQHInwah4j9/view" target="_blank"> Apresentação da Coleção 3</a>

    <hr />

    <h2 class="page__subtitle">2º Seminário Anual do MapBiomas - Lançamento da Coleção 2</h2>
    <p>A Coleção 2 foi lançada no dia 28 de abril de 2017 em Brasília no 2º Seminário Anual do MapBiomas: As Transformações no Território Brasileiro no Século XXI. Nesse seminário foram apresentados à comunidade técnica/científica e aos formuladores de políticas públicas os mapas anuais de cobertura e uso do solo entre 2000 a 2016, métodos e ferramentas do MapBiomas e suas aplicações para o entendimento das transformações do território e seus impactos econômicos, sociais e ambientais.</p>

    <iframe width="100%" height="350" src="https://www.youtube.com/embed/g9a_IzUbG68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <a class="btn btn-green" href="https://drive.google.com/file/d/1oxYJKWPJZkAgkB_EcMXAQVGFuH_MzpC5/view?usp=sharing" target="_blank">Programação do 2º Seminário</a>
    <a class="btn btn-green" href="https://drive.google.com/file/d/1DX2y7ywX3K3WE-aXjcvN0yP2Olw88Rk4/view?usp=sharing" target="_blank">Apresentação da Coleção 2</a>

    <hr />

    <h2 class="page__subtitle">1º Seminário Anual do MapBiomas - Lançamento Coleção 1</h2>
    <p>No 1º Seminário Anual do MapBiomas foi lançada a Coleção 1 dos mapas anuais de cobertura e uso do solo entre 2008 a 2015 para todo o território nacional produzidos a partir de imagens Landsat. O lançamento da Coleção 1 ocorreu em 29 de abril de 2016, em Brasília, e foi uma oportunidade de apresentar para comunidade técnica e científica os resultados, métodos e ferramentas utilizadas na primeira coleção de mapas do MapBiomas, além de receber críticas, sugestões e contribuições para sua melhoria e evolução.</p>

    <iframe width="100%" height="350" src="https://www.youtube.com/embed/KoCRqbgvVps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <a class="btn btn-green" href="https://drive.google.com/file/d/1l0-j-wRCkqKovM153zxrRkls1nI_1tyr/view?usp=sharing " target="_blank">Programação do 1º Seminário</a>
    <a class="btn btn-green" href="https://drive.google.com/file/d/1weqjFseFUez6R7ArIxoRIqtc0m4an3Vi/view?usp=sharing " target="_blank">Apresentação da Coleção 1</a>

    <hr />

    <h2 class="page__subtitle">Seminário Técnico do MapBiomas - Lançamento da Coleção Beta</h2>
    <p>Em 26 de novembro de 2015, foi lançada a plataforma on-line do MapBiomas, com mapas anuais e relatórios da cobertura e uso do solo no Brasil e a previsão de série histórica desde 1985 até os dias atuais. Neste primeiro seminário do MapBiomas foi apresentada a plataforma aberta e colaborativa criada para gerar os mapas, além da primeira série piloto e experimental de mapeamento de cobertura e uso do solo elaborada para o período de 2008 a 2015 para todo o país.</p>

    <iframe width="100%" height="350" src="https://www.youtube.com/embed/rmz5BsZfPjE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <a class="btn btn-green" href="https://drive.google.com/file/d/0B4HSEhckMpRna3hxbDVDLTl1R2M/view?usp=sharing " target="_blank">Programação</a>
    <a class="btn btn-green" href="https://drive.google.com/file/d/1JVWtApl0ShVlqw2PLH_v90s9YJ_vbSy7/view?usp=sharing " target="_blank">Apresentação da Coleção beta</a>

  </div>
</article>
