<article class="page">
  <div class="page__container">
    <h1 class="page__title">Annual Seminars</h1>
    <p>MapBiomas products are developed under constant evolution. Each year a new collection of land cover and land use maps is launched, improving and extending the period. The launches occured in the 1st Technical Seminar and 1st, 2nd and 3rd Annual Seminars of MapBiomas, where there were discussions with external invited participants about the collections and perspectives of land use monitoring and its applications in Brazil.</p>

    <hr />

    <h2 class="page__subtitle">3rd MapBiomas Annual Seminar - Collection 3</h2>
    <p>The MapBiomas Collection 3 was launched in the 3rd MapBiomas Annual Seminar: Three decades of transformation of Brazilian territory, on August 17th, 2018, in Brasília. In the third collection of land cover and land use maps, MapBiomas doubled the length of the period, covering all the years from 1985 to 2017. MapBiomas team and and invited specialists presented new data and discussed their applications for public policy.</p>

    <iframe width="100%" height="350" src="https://www.youtube.com/embed/jeyRyAXe1FQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <a class="btn btn-green" href="https://drive.google.com/file/d/19C6sIU5hbonLGi64G38LgAT0eH46XVux/view" target="_blank"> 3rd Annual Seminar Agenda</a>

    <a class="btn btn-green" href="https://drive.google.com/file/d/1G2z6JhPtYwSzwtfgWbWA6WQHInwah4j9/view" target="_blank"> Collection 3 Presentation</a>

    <hr />

    <h2 class="page__subtitle">2nd MapBiomas Annual Seminar - Collection 2</h2>
    <p>The MapBiomas Collection 2 was launched in the 2nd Annual Seminar of MapBiomas: Transformations in Brazilian Territory in the 21st Century, on April 28th 2017, in Brasilia. This seminar presented to the technical/scientific community and public policy makers the land cover and land use annual maps from 2000 to 2016, methods and tools of MapBiomas and its applications on understanding the transformations of the territory and its economic impacts, social and environmental.</p>

    <iframe width="100%" height="350" src="https://www.youtube.com/embed/g9a_IzUbG68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <a class="btn btn-green" href="https://drive.google.com/file/d/1oxYJKWPJZkAgkB_EcMXAQVGFuH_MzpC5/view?usp=sharing" target="_blank">2nd Annual Seminar Agenda</a>
    <a class="btn btn-green" href="https://drive.google.com/file/d/1DX2y7ywX3K3WE-aXjcvN0yP2Olw88Rk4/view?usp=sharing" target="_blank">Collection 2 Presentation</a>

    <hr />

    <h2 class="page__subtitle">1st MapBiomas Annual Seminar - Collection 2</h2>
    <p>In the 1st MapBiomas Annual Seminar, the Collection 1 was launched with the land cover and land use maps from 2008 to 2015 of the entire national territory produced with Landsat images. The Collection 1 was released on April 29, 2016, in Brasilia, where it was an opportunity to present to the technical and scientific community the results, methods and tools used in MapBiomas first collection of maps, as well as receive critics, suggestions and contributions for its improvements and evolution.</p>

    <iframe width="100%" height="350" src="https://www.youtube.com/embed/KoCRqbgvVps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <a class="btn btn-green" href="https://drive.google.com/file/d/1l0-j-wRCkqKovM153zxrRkls1nI_1tyr/view?usp=sharing" target="_blank">1st Annual Seminar Agenda </a>
    <a class="btn btn-green" href="https://drive.google.com/file/d/1weqjFseFUez6R7ArIxoRIqtc0m4an3Vi/view?usp=sharing " target="_blank">Collection 1 Presentation</a>

    <hr />

    <h2 class="page__subtitle">MapBiomas Technical Seminar - Collection beta</h2>
    <p>On November 26th, 2015, the MapBiomas web-platform was launched, with annual maps and reports of land cover and land use in Brazil, and prevision of the time series from 1985 to the present day. In this first MapBiomas seminar  it was presented the open and collaborative platform created to generate the maps, and the first pilot and experimental series of land cover mapping for the period of 2008 to 2015 for the entire country.</p>

    <iframe width="100%" height="350" src="https://www.youtube.com/embed/rmz5BsZfPjE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <a class="btn btn-green" href="https://drive.google.com/file/d/0B4HSEhckMpRna3hxbDVDLTl1R2M/view?usp=sharing " target="_blank">Agenda</a>
    <a class="btn btn-green" href="https://drive.google.com/file/d/1JVWtApl0ShVlqw2PLH_v90s9YJ_vbSy7/view?usp=sharing " target="_blank">Collection beta Presentation</a>

  </div>
</article>
