<article class="page page__mapbiomas-collections">
  <div class="page__container">
    <h1 class="page__title">MAPBIOMAS COLLECTIONS</h1>

    <p>From the LANDSAT mosaics, the classifications that result in coverage maps and land use are carried out for each year. Within the logic proposed by MAPBIOMAS the maps will be updated every time there is an improvement in the classification algorithms. The classification methodology is dynamic and procedural, with the purpose of improving the classification of each typology.</p>

    <p>Here you can access the coverage and land use maps organized by bioma and per year.</p>

    <blockquote>
      <strong>Important:</strong> when composing a single mosaic or calculating statistics on maps it should be noted that:
      <ul>
        <li>For area calculation it is necessary to use an appropriate metric projection.</li>
        <li>The limits of Biomes were adapted by the original scale project published by the IBGE from 1: 5,000,000 to 1: 1,000,000 from the Territorial Boundaries Maps of Brazil 1: 250,000 (IBGE) and phytophysiognomies 1: 1,000,000, also of IBGE. The Shape des Boundaries is available for download along with reference maps.</li>
        <li>All data is in GeoTiff format and has LZW compression. To get the reference of the codes with the caption classes go to: <a href="https://mapbiomas.org/pages/database/reference_maps" target="_blank">https://mapbiomas.org/pages/database/reference_maps</a>
        </li>
        <li>From Collection 2.3 the annual maps are consolidated into a single file with several bands representing each year of the historical series (band 1 is the first year of the series). For previous collections it is necessary to download one file for each year.</li>
      </ul>
    </blockquote>

    <p>To download the collections per bioma/year <strong><a href="mapbiomas_collection_download" target="_blank">click here</a></strong></p>
    <p>The maps of Collection 3 can be exported by biome, state or municipality (for each of the years of the series) directly in google earth engine using the script: <a href="https://code.earthengine.google.com/?accept_repo=users/mapbiomas/user-toolkit" target="_blank">https://code.earthengine.google.com/?accept_repo=users/mapbiomas/user-toolkit</a></p>
  </div>
</article>
