<article class="page page__mapbiomas-collections">
  <div class="page__container">
    <h1 class="page__title">Coleções MapBiomas</h1>

    <p>A partir dos mosaicos LANDSAT são realizadas as classificações que resultam nos mapas de cobertura e uso do solo para cada ano. Dentro da lógica proposta pelo MAPBIOMAS os mapas serão atualizados cada vez que houver um aperfeiçoamento nos algoritmos de classificação. A metodologia de classificação é dinâmica e processual, com a finalidade de aperfeiçoar a classificação de cada tipologia.</p>

    <p>Aqui você poderá acessar os mapas de cobertura e uso do solo organizados por bioma e por ano.</p>

    <blockquote>
      <strong>Importante:</strong> ao compor um mosaico único ou calcular estatísticas sobre os mapas deve ser observado que:
      <ul>
        <li>Para cálculo de área é necessário utilizar uma projeção métrica adequada.</li>
        <li>Os limites de Biomas foram adaptados pelo projeto da escala original publicada pelo IBGE de 1:5.000.000 para 1:1.000.000 a partir dos Mapas de limites territoriais do Brasil 1:250.000 (IBGE) e fitofisionomias 1:1.000.000, também do IBGE. O Shape des limites está disponível para download junto com os <a href="reference_maps" target="_blank">mapas de referência</a></li>
        <li>Todos os dados estão no formato GeoTiff e possuem compressão LZW. Para obter a referência dos códigos com as classes de legenda acesse: <a href="/pages/legenda" target="_blank">https://mapbiomas.org/pages/legenda</a></li>
        <li>A partir da Coleção 2.3 as mapas anuais estão consolidados em um único arquivo com varias bandas representando cada ano da série histórica (banda 1 é o primeiro ano da série). Para as coleções anteriores é necessários baixar um arquivo para cada ano.</li>
      </ul>
    </blockquote>

    <p>Para baixar as coleções com recorte territorial/bioma <strong><a href="mapbiomas_collection_download" target="_blank">acesse aqui</a></strong></p>
    <p>Os mapas da Colecao 3 podem ser exportados por bioma, estado ou municipio (para cada um dos anos da série) diretamente no google earth engine usando o script: <a href="https://code.earthengine.google.com/?accept_repo=users/mapbiomas/user-toolkit" target="_blank">https://code.earthengine.google.com/?accept_repo=users/mapbiomas/user-toolkit</a></p>
  </div>
</article>
